@font-face {
    font-family: 'Nato_Sans_SC';
    src: url(../fonts/Noto_Sans_SC/NotoSansSC-Black.otf);
    font-weight: 900;
}

@font-face {
    font-family: 'Nato_Sans_SC';
    src: url(../fonts/Noto_Sans_SC/NotoSansSC-Bold.otf);
    font-weight: 700;
}

@font-face {
    font-family: 'Poppins';
    src: url(/fonts/Poppins/Poppins-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'Poppins';
    src: url(/fonts/Poppins/Poppins-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: 'Roboto';
    src: url(/fonts/Roboto/Roboto-Regular.ttf);
    font-weight: 400;
}