@media screen and (max-width: 360px) {

    body {
        width: 100%;
    }

    .header__nav-list {
        display: none;
    }

    .nav__menu {
        width: 50px;
        height: 50px;
        background: linear-gradient();
        position: relative;
        display: flex;
        align-items: center;
    }

    .nav__line {
        width: 30px;
        height: 3px;
        background: #fff;
        position: absolute;
        border-radius: 10px;
        transition: .5s;
    }

    .nav__line:nth-of-type(2) {
        width: 30px;
        transform: translateY(-10px);
    }

    .nav__line:nth-of-type(3) {
        width: 30px;
        transform: translateY(10px);
    }

    .nav__menu:hover .nav__line:nth-of-type(2) {
        transform: rotate(45deg);
        width: 40px;
    }

    .nav__menu:hover .nav__line:nth-of-type(3) {
        transform: translateY(0) rotate(315deg);
        width: 40px;
        transition-delay: 0.25s;
    }

    .nav__menu:hover .nav__line:nth-of-type(1) {
        transform: translateX(200%)
    }

    .nav__logo {
        font-size: 20px;
    }

    /* ========================== header content ================= */


    @media screen and (max-width: 1200px) {
        body{
            color: red;
        }
    }

    .header__contents {
        flex-wrap: wrap-reverse;
    }

    .header__contents-title h3 {
        font-size: 30px;
        line-height: 43px;
        padding: 51px 0 13px;
    }

    .header__contents-title img {
        width: 34px;
        height: 34px;
    }

    .header__contents-title p {
        font-size: 16px;
        line-height: 22px;
    }

    .header__contents-img {
        position: relative;
        right: -45px
    }

    .header__contents-img:first-of-type {
        width: 250px;
        height: 250px;
    }

    .header__contents-title {
        padding: 0;
        padding-bottom: 29px;
    }

    .header__contents-img img:first-of-type {

        width: 235px;
        height: 250px;
    }

    .header__nav-content {
        padding: 0;
    }

    /* -========================= category start ================ */

    .category__posts {
        flex-wrap: wrap;
        row-gap: 50px;
    }

    .category__content {
        padding: 100px 0 100px;
    }

    .category__content-title h3 {
        font-size: 30px;
        line-height: 43px;
    }

    /* -========================= about start ================ */

    .about__content {
        flex-wrap: wrap-reverse;
        padding-bottom: 100px;
    }

    .about__content-contents {
        padding: 0;
    }

    .about__content-img img {
        width: 300px;
        height: 252px;
    }

    .about__content-contents h3 {
        font-size: 30px;
        line-height: 43px;
        display: flex;
        padding-bottom: 30px;
    }

    .about__content-contents img {
        position: relative;
        left: -100px;
    }

    .about__content-contents p {
        font-size: 16px;
        line-height: 22px;
    }

    /* -========================= trick start ================ */

    .trick__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 100px;
    }

    .trick__content h3 {
        font-size: 30px;
    }

    .trick__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 20px;
    }

    .trick__grid p {
        display: none;
    }

    .trick__item {
        width: 140px;
        min-height: 138px;
        padding: 0;
        padding-bottom: 0;
    }

    .trick__item img {
        width: 85px;
        height: 86px;
    }

    .trick__item h3:first-of-type {
        font-size: 16px;
    }

    /* -========================= regstration start ================ */

    .reg {
        padding-bottom: 110px;
    }

    .reg__content {
        padding: 31px 30px;
        display: flex;
        align-items: center;
        height: 287px;
    }

    .reg__content-subc {
        padding: 0;
    }

    .reg__content img {
        width: 70px;
        height: 100px;
        position: relative;
        left: -75px;
        top: -55px;
    }

    .reg__content-txt h3 {
        font-size: 30px;
        line-height: 43px;
    }

    .reg__content-txt p {
        width: 220px;
        font-size: 16px;
        line-height: 20px;
    }

    .reg__content-email {
        display: flex;
    }

    .reg__content-email input {
        width: 185px;
        height: 56px;
        font-size: 13px;
    }

    .reg__content-email button {
        width: 95px;
        height: 56px;
        font-size: 13px;
    }

    /* -========================= footer start ================ */

    .footer__content {
        flex-wrap: wrap;
    }

    .footer__content__left-txt {
        flex-wrap: wrap;
    }

    .footer__content__right {
        flex-wrap: wrap;
        gap: 0;
        display: block;
    }

    .footer__logo span {
        font-size: 20px;
    }

    .footer__content__left {
        padding-left: 28px;
    }

    .footer__content__left-txt p {
        width: 300px;
        font-size: 13px;
        line-height: 20px;
        letter-spacing: 5%;
    }

    .footer__img1 {
        width: 20px;
        height: 30px;
        position: relative;
        bottom: -6px;
    }

    .footer__img2 {
        width: 30px;
        height: 40px;
        position: relative;
        right: -248px;
        top: -22px;
    }

    .footer__content__right {
        padding: 0 0 71px 28px;
        display: flex;
        flex-direction: column;
        row-gap: 30px;
    }

    .footer__line-apps {
        font-size: 35px;
        column-gap: 20px;
    }

    .footer__txt {
        font-size: 16px;
        line-height: 28px;
        text-align: center;
    }
}